@use '../base/variables' as v;

@media screen and (max-width: 768px) {
    footer {
        .footer-content {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1000px) {
    .page-team {
        .container {
            .tb-layout {
                display: flex;
                flex-direction: column;
            }
        }
    }
}